﻿/* CSS Document */
/*--------------------基础样式 开始----------------------*/
body,p,ol,ul,li,h1,h2,h3,h4,h5,h6,img,form,input,button,textarea,table,td,tr{
	margin: 0px;
	padding: 0px;
	font-size: 12px;
}
body {
	background-repeat: no-repeat;
	font-size: 12px;
	color: #333333;
	background-image: url(../images/bg.jpg);
	background-color: #0155B7;
}
table{
	width:100%;
	font-size: 12px;
	}
header {
	height:95px;
}
form {
	font-size: 12px;
}

img, div, input { behavior: url("../iepngfix.htc") }
ul, li, ol {
	list-style-type: none;
}
img {
	border:0 none;
}

a:link,a:visited {/*鼠标经过*/
	color: #005F7E;
	text-decoration: none;
}
a:hover,a:active{/*鼠标点击*/
	color: #F00;
	text-decoration: none;
}
/*--------------------基础样式 ----------------------*/
/*--------------------头部 ----------------------*/
#header {
	color: #FFFFFF;

}
/*--------------------导航----------------------*/
#nav a:link,#nav a:visited {/*鼠标经过*/
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	height: 32px;
	width: 115px;
}
#nav a:hover,#nav a:active{/*鼠标点击*/
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(../images/navbg.png);
	background-repeat: no-repeat;
	background-position: left top;
}
#nav {
	width: 805px;
	float: right;
}
#nav li {
	line-height: 32px;
	height: 32px;
	width: 115px;
	float: left;
	text-align: left;
}
#nav     .nav_01  span   {
	float: left;
	padding-top: 5px;
	padding-left: 10px;


}
#nav     .nav_02  span   {
	float: left;
	padding-top: 5px;
	padding-left: 24px;
}#nav     .nav_03  span   {
	float: left;
	padding-top: 5px;
	padding-left: 24px;
}#nav     .nav_04  span   {
	float: left;
	padding-top: 5px;
	padding-left: 20px;


}#nav     .nav_05  span   {
	float: left;
	padding-top: 5px;
	padding-left: 24px;

}#nav     .nav_06  span   {
	float: left;
	padding-top: 5px;
	padding-left: 24px;

}#nav     .nav_07 span   {
	float: left;
	padding-top: 5px;
	padding-left: 20px;
	padding-right: 10px;

}
#nav a.nav_07:link,#nav a.nav_07:visited {/*鼠标经过*/
	background-image: none;
}
#nav a.nav_07:hover,#nav a.nav_07:active{/*鼠标点击*/
	background-image: url((URL));
	color: #FF0000;
}
#nav a.current:link,#nav a.current:visited {/*鼠标经过*/
	background-image: url(../images/navbg.png);
	background-repeat: no-repeat;
	background-position: left top;
}
#nav a.current:hover,#nav a.current:active{/*鼠标点击*/
	background-image: url(../images/navbg.png);
	background-repeat: no-repeat;
	background-position: left top;
}
/*--------------------导航----------------------*/
/*-----------------------------------内容部分-----------------------------*/
#content {
	margin-top: -2px;
}
#content table{
	width:100%;
	height:100%;
}
#content .l_t {
	height: 15px;
	width: 15px;
}
#content .l_m {
	background-repeat: repeat-y;
	background-position: left top;
	width: 15px;
	background-image: url(../images/l_m.png);
}
#content .l_b {
	height: 15px;
	width: 15px;
}
#content .t_m {
	background-repeat: repeat-x;
	background-position: left top;
	background-image: url(../images/t_m.png);
}
#content .b_m {
	background-repeat: repeat-x;
	background-position: left bottom;
	background-image: url(../images/b_m.png);
}
#content .r_t {
	height: 15px;
	width: 15px;
}
#content .r_m {
	background-repeat: repeat-y;
	background-position: right top;
	background-image: url(../images/r_m.png);
}
#content .r_b {
	height: 15px;
	width: 15px;
}
/*-----------------------------------内容部分  左侧栏目-----------------------------*/
#frame_side{
	color:#999;
	width:188px;
	vertical-align:top;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #00617E;
	border-bottom-color: #00617E;
	border-left-color: #00617E;
	height: 628px;
	background-color: #EDF8FE;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #00617E;
}
#frame_side #menu li .item{
	display:block;
	font-size:15px;
	letter-spacing:2px;
	text-align:left;
	color:#000000;
	background-image: url(../images/subnav_bg01.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	font-weight: bold;
	line-height: 39px;
	height: 39px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	border-top-width: 0px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #00617E;
	border-bottom-color: #00617E;
}
#frame_side #menu li .item_current{
	color:#000;
}
#frame_side #menu .item span {
	float: left;
	padding-top: 11px;
	padding-right: 5px;
}

#frame_side #menu li ul{display:none;}
#frame_side #menu li ul li{
	line-height:44px;
	letter-spacing:2px;
	padding-left: 20px;
	/*
	width: 115px;
	height:44px;
	background-image: url(../images/subnav_cl.jpg);
	background-repeat: no-repeat;
	background-position: 15px center;
	margin-right: auto;
	margin-left: auto;
	*/
}
#menu  ul li.t_line {
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #999999;
}
#frame_side #menu li ul li a{
	color:#005F7E;
	font-size:14px;
	vertical-align: middle;
}
#frame_side #menu li ul li a:hover{
	color:#FF0000;
	font-weight: bold;
}
#frame_side .left_url{
	color:#005F7E;
}
#frame_side .left_url:hover{
	color:#FF0000;
	font-weight: bold;
}

#frame_side #menu a.subnav_current:link,#frame_side #menu a.subnav_current:visited {/*鼠标经过*/
	color:#FF0000;
	font-weight:bold;
}
#frame_side #menu a.subnav_current:hover,#frame_side #menu a.subnav_current:active{/*鼠标点击*/
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;

}

.plus-img{
	cursor:pointer;
	vertical-align:middle;
	margin-right:4px;
}
/*-----------------------------------搜索  高级搜索-----------------------------*/
#searchk {
	background-image: url(../images/searchk.png);
	background-repeat: no-repeat;
	background-position: left center;
	height: 26px;
	width: 172px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	line-height: 26px;
	padding-left: 28px;
	color: #999999;
}
#search01 {
	background-image: url(../images/search01.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	height: 26px;
	width: 70px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	color: #FFFFFF;
}
a.gjss:link,a.gjss:visited {/*鼠标经过*/
	line-height: 26px;
	background-image: url(../images/search01.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	text-align: center;
	display: block;
	height: 26px;
	width: 70px;
	color: #FFFFFF;
}
#searchk02 {
	line-height: 26px;
	background-image: url(../images/gjss.png);
	background-repeat: no-repeat;
	background-position: left center;
	height: 26px;
	width: 300px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
a.gjss_02:link,a.gjss_02:visited {/*鼠标经过*/
	line-height: 26px;
	background-image: url(../images/search01.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	text-align: center;
	display: block;
	height: 26px;
	width: 70px;
	color: #FFFFFF;
}
/*-----------------------------------搜索  高级搜索-----------------------------*/

#menu a.shaixuan {
	float: right;
	padding-top: 15px;
	padding-right: 5px;
}

#frame_side #menu ol .item{
	display:block;
	font-size:15px;
	letter-spacing:2px;
	text-align:left;
	color:#000000;
	background-image: url(../images/subnav_bg01.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	font-weight: bold;
	line-height: 39px;
	height: 39px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	border-top-width: 0px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #00627F;
	border-bottom-color: #00627F;
}
#frame_side #menu ol .item_current{
	color:#000;
}
#frame_side #menu .item span {
	float: left;
	padding-top: 11px;
	padding-right: 5px;
}

#frame_side #menu ol ul{display:none;}
#frame_side #menu ol ul li{
	height:44px;
	line-height:44px;
	letter-spacing:2px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 45px;
	background-image: url(../images/subnav_cl.jpg);
	background-repeat: no-repeat;
	background-position: 15px center;
	width: 115px;
	margin-right: auto;
	margin-left: auto;
}
#menu  ul li.t_line {
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #999999;
}
#frame_side #menu ol ul li a{
	color:#005F7E;
	font-size:14px;
}
#frame_side #menu ol ul li a:hover{
	color:#FF0000;
	font-weight: bold;
}
#frame_side .left_url{
	color:#005F7E;
}
#frame_side .left_url:hover{
	color:#FF0000;
	font-weight: bold;
}15:19 2011/9/8
/*-----------------------------------内容部分  右侧-----------------------------*/
/* 交换背景色 js函数样式 */
.even{background-color:#FFFFFF;} /* 偶数行背景色 #EDF5FD */
.odd{background-color:#F0F0F0;} /* 奇数行背景色 */
.activity{
	background-color:#BFE3F9;
} /* 活动行背景色 #FFFFCC */ /* mle */

#menu a.shaixuan {
	float: right;
	padding-top: 15px;
	padding-right: 5px;
}


/*-----------------------------------弹出 简历-----------------------------*/
.black_overlay{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color:#000;
	z-index:1001;
	-moz-opacity: 0.5;
	opacity:.50;
	filter: alpha(opacity=80);
	display: none;
}
.white_content {
	z-index:1002;
	position: absolute;
	top: 5%;
	left: 20%;
	width: 782px;
	color: #333333;
	background-color: #FFFFFF;
	display: none;
}
.tibg {
	width: 782px;
	padding-bottom: 20px;
	font-size: 14px;
	color: #000000;
}

.p_title{
	width:782px;
	background-repeat: no-repeat;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	height: 28px;
}
/*-----------------------------------弹出 简历-----------------------------*/
.current_title {
	color: #FFFFFF;
	background-color: #005F7E;
}
.red {
	font-weight: bold;
	color: #FF0000;
}
/*-----------------------------------弹出 上传照片-----------------------------*/
.unload_content {
	z-index:1002;
	position: absolute;
	top: 20%;
	left: 30%;
	width: 514px;
	color: #333333;
	background-color: #FFFFFF;
	display: none;
}
.unload_tibg {
	width: 514px;
	padding-bottom: 20px;
	font-size: 14px;
	color: #000000;
}

.unload_p_title{
	width:514px;
	background-repeat: no-repeat;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	height: 28px;
}
/*-----------------------------------弹出 上传照片-----------------------------*/
/*-----------------------------------弹出 筛选-----------------------------*/
.sx_content {
	z-index:1002;
	position: absolute;
	top: 20%;
	left: 40%;
	width: 250px;
	color: #333333;
	background-color: #CAD9E6;
	display: none;
}
.sx_tibg {
	width: 250px;
	padding-bottom: 20px;
	font-size: 14px;
	color: #000000;
}

.sx_p_title{
	width:238px;
	background-repeat: no-repeat;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	height: 18px;
	padding-top: 10px;
	padding-left: 12px;
	font-weight: bold;
	font-size: 12px;
	padding-bottom: 10px;
	line-height: 18px;
}
.shaixuan02 {
	background-image: url(../images/shaixuan02.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	height: 25px;
	width: 107px;
}

/*-----------------------------------弹出 筛选-----------------------------*/
a.to_next
 {
	color: #FFFFFF;
	height: 25px;
	display: block;
	background-color: #005F7E;
	line-height: 25px;
}
.save {
	background-color: #005F7E;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	color: #FFFFFF;
	height: 25px;
	width: 56px;
}
/*-----------------------------------鼠标经过 详细信息-----------------------------*/
#k {
	background-color: #FFFFCC;
	width: 180px;
	position: absolute;
	z-index: 10;
	display: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
#k p {
	line-height: 20px;
}
/*-----------------------------------填写资料导航-----------------------------*/
.data_nav {
	height: 34px;
	width: 668px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #005F7E;
	padding-right: 140px;
	padding-left: 6px;
}
.data_nav li {
	float: left;
	height: 34px;
	line-height: 34px;
	margin-right: 2px;
}
.data_nav a {
	padding-right: 20px;
	padding-left: 20px;
	display: block;
	height: 34px;
	font-size: 12px;
	line-height: 34px;
	text-decoration: none;
}
.data_nav a:link,.data_nav a:visited {/*鼠标经过*/
	font-size: 12px;
	color: #005F7E;
	text-decoration: none;

}
.data_nav a:hover,.data_nav a:active{/*鼠标点击*/
	color: #FFFFFF;
	background-color: #005F7E;
}
.data_nav a.data_location:link,.data_nav a.data_location:visited {/*鼠标经过*/
	color: #FFFFFF;
	background-color: #005F7E;
}
/*-----添加联系人 教育经历 链接-------------------*/
a.new:link,a.new:visited {/*鼠标经过*/
	font-size: 12px;
	color: #FF0000;
	text-decoration: none;

}

 a.new:hover,a.new:active{/*鼠标点击*/
	color: #FF0000;
	text-decoration: underline;

}
/*---------------时间看板 增加 删除 完成-------------------*/
a.kanban_a:link,a.kanban_a:visited {/*鼠标经过*/
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	height: 22px;
	width: 84px;
	float: right;
	background-color: #005F7E;
	line-height: 22px;
	text-align: center;
}

a.kanban_a:hover,a.kanban_a:active{/*鼠标点击*/
}
a.kanban_d:link,a.kanban_d:visited {/*鼠标经过*/
	line-height: 22px;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #666666;
	height: 22px;
	width: 84px;
	display: block;
	float: right;
	text-align: center;
}

a.kanban_d:hover,a.kanban_d:active{/*鼠标点击*/
}
a.complete:link,a.complete:visited {/*鼠标经过*/
	font-size: 14px;
	line-height: 34px;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #005F7E;
	height: 34px;
	width: 75px;
	display: block;
	text-align: center;
}
a.complete:hover,a.complete:active{/*鼠标点击*/
}

/*---------------客户资料启动页面-------------------*/
.start_l_t {
	height: 31px;
	width: 17px;
}
.start_l_m {
	background-image: url(../images/start_l_m.png);
	background-repeat: repeat-y;
	background-position: left top;
	width: 17px;
}
.start_l_b {
	height: 31px;
	width: 17px;
}
.start_m_t {
	background-image: url(../images/start_m_t.png);
	background-repeat: repeat-x;
	background-position: left top;
	height: 31px;
}
.start_m_b {
	background-image: url(../images/start_m_b.png);
	background-repeat: repeat-x;
	background-position: left bottom;
	height: 31px;
}
.start_r_t {
	height: 31px;
	width: 17px;
}
.start_r_m {
	background-image: url(../images/start_r_m.png);
	background-repeat: repeat-y;
	background-position: right top;
}
.start_r_b {
	height: 31px;
	width: 17px;
}
/*---------------查询按钮------------------*/
a.cx:link,a.cx:visited {/*鼠标经过*/
	font-size: 14px;
	line-height: 28px;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #005F7E;
	height: 28px;
	width: 75px;
	display: block;
	text-align: center;
}
/*---------------选定配工  重新查询------------------*/
a.xd:link,a.xd:visited {/*鼠标经过*/
	font-size: 14px;
	line-height: 28px;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #005F7E;
	height: 28px;
	width: 125px;
	display: block;
	text-align: center;
}
.asterisk {
	color: #FF0000;
}
/*---------------添加客户资料 通话记录------------------*/
a.record:link,a.record:visited {/*鼠标经过*/
	color: #FF0000;
	text-decoration: none;
}
/*---------------保存并下单------------------*/
a.orders:link,a.orders:visited {/*鼠标经过*/
	font-size: 14px;
	line-height: 28px;
	color: #FFFFFF;
	text-decoration: non
	height: 28px;
	width: 105px;
	display: block;
	text-align: center;
	text-decoration: blink;
	background:#005F7E;
}
/*--------------- 填写完成 返回首页------------------*/
a.back:link,a.back:visited {/*鼠标经过*/
	color: #0000FF;
	text-decoration: underline;
}
/*--------------- 客户投诉 搜素按钮------------------*/
.s_01 {
	background-image: url(../images/kk.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	height: 21px;
	width: 76px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
/*--------------- 客户投诉 滑动------------------*/
.tabbox {
	width:714px;
	height:90px;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
}
.tabmenu {
	width:714px;
	height:28px;
	background-image: url(../images/client_tbg.png);
	background-repeat: repeat-x;
	background-position: left top;
	border: 1px solid #00617E;
}
.tabmenu ul {
	margin:0;
	padding:0;
	list-style-type: none;
}
.tabmenu li {
	text-align:center;
	float:left;
	display:block;
	height:29px;
	overflow:hidden;
	line-height:29px;
	display:inline;
	font-size:12px;
	color: #000000;
	width: 82px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #00617E;
}
.tabmenu .cli {
	text-align:center;
	float:left;
	display:block;
	height:29px;
	overflow:hidden;
	line-height:29px;
	display:inline;
	font-size:12px;
	cursor:pointer;
	color: #000000;
	background-color: #FFFFFF;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #00617E;
}
#tabcontent {
	width:714px;
	background-color:#fff;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #00617E;
	border-bottom-color: #00617E;
	border-left-color: #00617E;
}
#tabcontent ul {
	list-style-type: none;
}
#tabcontent .hidden {
	display: none;
}
/*--------------- 客户投诉 滑动------------------*/
.red_02 {
	color: #FF0000;
}
 
/*-----------表格样式----------------*/

.align_l {
	text-align: left;
}

.align_r {
	text-align: right;
	color: #000;
}

.align_c {
	text-align:center
}

.red {
	color: #F00;
}

.ymyanse {
	color:#00526C;
}

p{
	margin:3px;
	padding:3px;
}
/*---------------订单信息-----------------*/
.ddxx {
	background-image: url(../images/kk.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	display: block;
	height: 21px;
	width: 76px;
	text-align: center;
	line-height: 21px;
}
a.yl:link,a.yl:visited {/*鼠标经过*/
	color: #0000FF;
	text-decoration: underline;
}
.ddsscz {
	font-size: 12px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	color: #333333;
	background-image: url(../images/kk.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	height: 21px;
	width: 76px;
}
/*---------------订单信息-----------------*/
a.save02:link,a.save02:visited {/*鼠标经过*/
	line-height: 25px;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #005F7F;
	text-align: center;
	display: block;
	height: 25px;
	width: 56px;
}
a.ckxx:link,a.ckxx:visited {/*鼠标经过*/
	color: #0000FF;
	text-decoration: none;
}
a.ckxx:hover,a.ckxx:active{/*鼠标点击*/
	text-decoration: underline;
}
.search02 {
	background-image: url(../images/search01.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	height: 26px;
	width: 70px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	color: #FFFFFF;
}
